name: Build

on:
  workflow_call:
    inputs:
      upload_artifacts:
        type: boolean
        required: false
        default: false

jobs:
  build:
    permissions:
      contents: read
      pull-requests: read
      checks: write
    strategy:
      matrix:
        arch:
          - amd64
        os:
          - linux
    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.os }}
      GOARCH: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Create dist dir
        run:
          mkdir dist

      - name: Build
        run: make build

      - name: Test
        run: go test -v ./...

      - name: Archive dist artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: inputs.upload_artifacts
        with:
          name: dist-${{ matrix.os }}-${{ matrix.arch }}
          path: |
            dist/*
          retention-days: 7
