name: Build

on:
  workflow_call:
    inputs:
      upload_artifacts:
        type: boolean
        required: false
        default: false

jobs:
  build:
    permissions:
      contents: read
      pull-requests: read
      checks: write
    strategy:
      matrix:
        arch:
          - amd64
        os:
          - linux
    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.os }}
      GOARCH: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Create dist dir
        run:
          mkdir dist

      - name: Build
        run: make build

      - name: Test
        run: go test -v ./...

      - name: Archive dist artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: inputs.upload_artifacts
        with:
          name: dist-${{ matrix.os }}-${{ matrix.arch }}
          path: |
            dist/*
          retention-days: 7
