name: Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      pull-requests: read
      checks: write

  lint:
    needs:
      - build
    uses: ./.github/workflows/lint.yml
    permissions:
      contents: read
      pull-requests: read
      checks: write
